{% extends 'basehtml/base.html' %}

{% block site_title %} About |{% endblock %}

{% block content %}
<section class="section-content section-content-single">
        <div class="section-content-container">
            <h1>About Nanaho</h1>
            <p>
                about แปลว่า เกี่ยวกับ แต่เมื่อนำมาใช้ในประโยคต่างๆ แล้ว คำว่า about
                สามารถสื่อถึงประโยคและความหมายได้หลายรูปแบบ ส่วนจะใช้กับอะไรได้บ้างมาดูกันค่ะ

                เราสามารถใช้ about ในประโยคที่ต้องการบอก ‘ความห่วงใย’ หรือ ‘กังวล’ เกี่ยวกับบุคคล
                หรือเรื่องใดเรื่องหนึ่ง

                There is nothing we can do about it. = เราทำอะไรเกี่ยวกับเรื่องนั้นไม่ได้แล้ว
                (ถึงจะรู้สึกห่วงใยและอยากช่วยเหลือก็ตาม)
            </p>
        </div>
</section>
{% endblock %}