{% extends 'basehtml/base.html' %}
{% load static %}

{% block site_title %} Cart |{% endblock %}

{% block content %}
<section class="section-content section-content-single">
    <div class="content-container">
        <div>
            <h4>สินค้า</h4>
            {% for cart in carts%}
            <div>
                <img src="#">
                <div>product : {{ cart.product }}</div>
                <div>quantity : {{ cart.quantity }}</div>
                <div>author : {{ cart.author }}</div>
            </div>
            {% endfor%}
            <p>ยอดรวม</p>
            <button>ชำระเงิน</button>
        </div>
    </div>
</section>
{% endblock %}