{% extends 'basehtml/base.html' %}
{% load static %}

{% block site_title %} Products |{% endblock %}

{% block content %}
<section class="section-content section-content-single">
    <div class="content-container">
        <h3 class="content-title">สินค้า</h3>
        {% if product.id != 0 %}
        <div class="grid grid-3">
            {% for product in products%}
                <div class="title">
                    <a class="product-title" href="{% url 'product' product.id %}">
                        <img class="image-block" src="{{ product.image.url }}">
                        <h3>{{ product.name_product }}</h3>
                    </a>
                    {% if product.special_price is not None %}
                        <p>
                            <span>{{ product.special_price|floatformat:'g' }} บาท จาก</span>
                            <del class="text-gray">{{ product.price|floatformat:'g' }}</del>
                        </p>
                    {% else %}
                        <p>ราคา {{ product.price|floatformat:'g' }} บาท</p>
                    {% endif %}
                </div>
            {% endfor%}
        </div>
        {% else %}
            <p>ไม่พบสินค้า</p>
        {% endif %}
    </div>
</section>
{% endblock %}