{% extends 'basehtml/base.html' %}
{% load static %}

{% block site_title %} {{product.name_product}} |{% endblock %}

{% block content %}
<section class="section-content section-content-single">
    <div class="content-container">
        {% if product is not None %}
            <div class="grid">
                <img src="{{ product.image.url }}">
                <div>
                    <h3>{{ product.name_product }}</h3>
                {% if product.special_price is not None %}
                    <p>
                        <span>{{ product.special_price|floatformat:'g' }} บาท จาก</span>
                        <del class="text-gray">{{ product.price|floatformat:'g' }}</del>
                    </p>
                {% else %}
                    <p>ราคา {{ product.price|floatformat:'g' }} บาท</p>
                {% endif %}

                {% if product.description is not None %}
                    ลายละเอียดสินค้า: {{ product.description }}
                {% else %}
                    ลายละเอียดสินค้า: ไม่มี
                {% endif %}
            </div>
        </div>
        {% else %}
            ไม่พบสินค้า
        {% endif %}
    </div>
</section>
{% endblock %}