{% extends 'basehtml/base.html' %}

{% block site_title %} Dashboard |{% endblock %}

{% block content %}
<section class="section-content section-content-single">
    <div class="section-content-container">
        <h1>Dashboard : {{ user.username }}</h1>
        <a href="{% url 'dashboard' %}">dashboard</a>
        <a href="{% url 'profile' %}">profile</a>
        <a href="{% url 'password_change' %}">password change</a>
        <form action="{% url 'profile' %}" method="post">
            <h5>My profile</h5>
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-field">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
                {{ form.first_name.errors }}
            </div>
            <div class="form-field">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
                {{ form.last_name.errors }}
            </div>
            <p>
                <button class="button" type="submit">บันทึก</button>
            </p>
        </form>
    </div>
</section>
{% endblock %}