{% extends 'basehtml/base.html' %}

{% block site_title %} Login |{% endblock %}

{% block content %}
<section class="section-content section-content-single">
    <div class="section-content-container">
        <h1>Register : {{ user.username }}</h1>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-field">
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="form-field">
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="form-field">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>
            <div class="form-field">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>
            <p>
                <button class="button" type="submit">Register</button>
            </p>
        </form>
    </div>
</section>
{% endblock %}