.section-shop-online {
    text-align: center;
    padding: 10px 16px;
}

#link-shop-online {
    text-decoration: none;
    color: blue;
}

.section-warapper {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 16px;
}

.item1 {
    background-image: url('../basket13.jpg');
    text-align: right;
}

.item2 {
    background-image: url('../basket12.jpg');
    text-align: right;
}

.item3 {
    background-image: url('../basket14.jpg');
    text-align: center;
}

.item4 {
    background-image: url('../basket15.jpg');
    text-align: left;
}