/* products, product and about */
.section-content-single {
    min-height: calc(100vh - 120px);
}

.section-content {
    padding: 64px;
}

.content-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
}

.image-block {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}

.product-title:not(:hover) {
    color: black;
    text-decoration: none;
    font-weight: 400;
}

.text-gray {
    color: #888888;
}

.title {
    text-align: center;
}